*{
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    margin: 0;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.page-wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
.header{
    padding: 20px;
    background-color: #1F2937;
}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1040px;
    margin: 0 auto;
}
.header-logo{
    color: #F9FAF8;
    font-size: 24px;
}

.nav-list{
    display: flex;
    gap: 40px;
}
.nav-item a{
    font-size: 18px;
    color: #E5E7EB;
}

/* Footer */
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #E5E7EB;
}

/* Main contents */
.main{
    flex: 1;
}

/* Hero section */
.hero{
    padding: 80px 20px;
    background-color: #1F2937;
}

.hero-content{
    display: flex;
    justify-content: center;
    gap: 32px;

    max-width: 1040px;
    margin: 0 auto;
}

.hero-main-text{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
    line-height: 1.2;
}
.hero-secondary-text{
    font-size: 18px;
    color: #E5E7EB;
    margin: 8px 0 16px;
}
.hero-signup{
    font-size: 18px;
    color: #F9FAF8;
    background-color: #3882F6;
    padding: 8px 32px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

/* Information section */
.information{
    padding: 80px 20px;
}
.info-content{
    max-width: 1040px;
    margin: 0 auto;
}
.info-heading{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
}
.info-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}
.info-item{
    width: 180px;
}
.info-item__img{
    width: 100%;
    border-radius: 20px;
    border: solid 4px #3882F6;
}
.info-item__text{
    font-size: 18px;
    color: #1F2937;
    text-align: center;
}

/* Quote section */


/* CTA section */
